{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse" style="section-inverse" data-parallax="{{asset('images/bg-content-004.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Profesores Invitados</h1>
					<p class="fs-20 opacity-70">Colegio Médico de Dermatológos de Nuevo León A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-sm p-20  justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/poletti.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Eduardo David Poletti Vázquez<br/>
								<small class="fs-14 uppercase acqva">Aguascalientes</small>
							</h5>
							<p class="card-text">
								El Dr. Eduardo Poletti, es Médico Dermatólogo, especialista en el estudio, diagnóstico y tratamiento de las Enfermedades de la Piel que afectan a los pacientes que requieren atención médica y soluciones integrales. Su consulta es en la ciudad de Aguascalientes y las patologías que atiende son: eczema, enfermedades infecciosas, vitíligo, psoriasis, hiperhidrosis, melasma, etc.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm p-20">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/serrano.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dra. Cristina Serrano Falcón<br/>
								<small class="fs-14 uppercase acqva">España</small>
							</h5>
							<p class="card-text">
								Responsable de la Unidad de Dermatología médico quirúrgica en el Hospital de la Inmaculada Concepción. Especialista en Dermatología medico quirúrgica en Clínica Dermatológica Serrano, Granada. Facultativo especialista de área de Dermatología médico quirúrgica en el Hospital de Guadix – Granada. Interés investigador en áreas de tumores pigmentados, melanoma, cirugía y tricología.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm p-20">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/arenas.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Roberto Arenas Guzmán<br/>
								<small class="fs-14 uppercase acqva">México</small>
							</h5>
							<p class="card-text">
								Dermatólogo y Micólogo, Jefe de la Sección de Micología, Departamento de Dermatología, Hospital General Dr. Manuel Gea González. Sus líneas actuales de investigación y enseñanza son la dermatología y la micología médica, especialmente las micosis superficiales, las enfermedades de las uñas y dermatosis tropicales. Realiza una gran cantidad de actividades extramuros en cursos, congresos, conferencias y trabajo de campo. Ha contribuido en la descripción de aspectos nuevos en la micología en nuestro medio y fundamentalmente a la difusión de la educación en dermatología y micología.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/suneel.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Suneel Chilukuri<br/>
								<small class="fs-14 uppercase acqva">USA</small>
							</h5>
							<p class="card-text">
								Es un experto en cirugía cosmética y reconstructiva, reconocido internacionalmente. Ha perfeccionado las técnicas necesarias para el lifting facial no quirúrgico. Es reconocido por el “lifting facial líquido”, y enseña esta técnica a cirujanos plásticos y dermatólogos alrededor del mundo. Es un entrenador y vocero de Allergan, Galderma, Cynosure y Theraclear Lasers. Además, es instructor en cirugía micrográfica de Mohs y reconstrucción facial avanzada en el Baylor College of Medicine, la Universidad de Texas en la Escuela de Medicina de Houston y en la Universidad de Columbia en el Colegio de Médicos y Cirujanos.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/gaviria.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. John Gaviria<br/>
								<small class="fs-14 uppercase acqva">Colombia</small>
							</h5>
							<p class="card-text">
								Dermatólogo de la Pontificia Universidad Javeriana, Bogotá, Colombia. Cuenta con una Maestría en Biología Molecular Cutánea y Capilar de la Universidad de París, Francia, investigador en Oxidación y Envejecimiento y sus Perspectivas Médicas en InBiotech Colombia. Miembro de la International Society for Free Radical Research, Society for Redox Biology and Medicine. Conferencista Nacional e Internacional en Dermatología del Envejecimiento, Rejuvenecimiento Facial No Quirúrgico y el impacto Clínico de los Antioxidantes en la piel y el cabello.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/dayrit.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Johannes F. Dayrit, MD<br/>
								<small class="fs-14 uppercase acqva">Filipinas</small>
							</h5>
							<p class="card-text">Dermatologo. 20 años de experiencia, su área de interés: Dermatosis Pigmentarias.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/javiera.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dra. Javiera Pérez<br/>
								<small class="fs-14 uppercase acqva">España</small>
							</h5>
							<p class="card-text">
								Dermatóloga. Cirujana de Mohs. Master en Patología cutánea avanzada- oncologia cutánea. Universidad de Barcelona-Hospital Clinic Barcelona.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/argenziano.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Giuseppe Argenziano, Italia<br/>
								<small class="fs-14 uppercase acqva">Italia</small>
							</h5>
							<p class="card-text">
								Profesor Titular y Jefe, Unidad de Dermatología, Universidad de Campania, Nápoles, Italia. Ex Presidente de la Sociedad Internacional de Dermatoscopia y miembro del Consejo Editorial de la Revista de la American Academy of Dermatology. Autor de más de 500 artículos científicos y orador en más de 500 conferencias. Sus publicaciones han recibido un total de 8500 citas con un índice h de 46 (Scopus 01/2017). Área de interés: dermoscopia, melanoma, lesiones pigmentadas
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/calixto.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Eduardo Calixto González<br/>
								<small class="fs-14 uppercase acqva">México</small>
							</h5>
							<p class="card-text">El doctor Calixto González, Jefe de Neurobiología del Instituto Nacional de Psiquiatría “Ramón de la Fuente”; es médico cirujano egresado de la Facultad de Medicina y doctor en Neurofisiología por el Instituto de Fisiología Celular de la Universidad Nacional Autónoma de México (UNAM). Tiene un posdoctorado en Neurofisiología y Fisiología Cerebral en la Universidad de Pittsburgh. Se desempeñó como investigador en el Departamento de Farmacología de la Facultad de Medicina y en el Instituto de Investigaciones Biomédicas, además de ser miembro del Sistema Nacional de Investigadores (SNI) del Consejo Nacional de Ciencia y Tecnología (Conacyt).</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/salvador.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Salvador González<br/>
								<small class="fs-14 uppercase acqva">España</small>
							</h5>
							<p class="card-text">
								Miembro del equipo Grupo de Dermatología Pedro Jaén. Staff del Servicio de Dermatología del Memorial Sloan-Kettering Cancer Center, Nueva York. Assistant Professor del Departamento de Dermatología de Harvard Medical Scool, Boston. Asesor del Servicio de Dermatología del Hospital Universitario Ramón y Cajal de Madrid.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/campo.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Antonio Campo Voegeli<br/>
								<small class="fs-14 uppercase acqva">España</small>
							</h5>
							<p class="card-text">
								Es Dermatólogo, director de la clínica Campo Optimage, se ha subespecializado en Cirugía Dermatólogíca y Micrográfica de Mohs así como en láser dermatológico, especialmente en el tratamiento de lesiones vasculares, campo en el cual es reconocido como una autoridad nacional e internacional. Posee numerosas publicaciones y ha sido ponente en congresos y cursos en España, Francia, Grecia, Suiza, Austria, Bulgaria, Rusia, Estados Unidos, Emiratos Árabes, Brasil, Chile y Australia entre otros. Es miembro de las Academias Española y Europea de Dermato-Venereología, la Sociedad Española de Laser Médico-Quirúrgico y la European Society for Laser in Dermatology.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/hexsel.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dra. Doris Hexsel<br/>
								<small class="fs-14 uppercase acqva">Brasil</small>
							</h5>
							<p class="card-text">Dermatólogo certificado por la junta directiva. Investigadora Principal del Centro Brasileño de Estudios de Dermatología, donde realizó más de 40 ensayos clínicos. Áreas de interés: Inyectables, Hiperhidrosis, Celulitis, Grasa localizada, Photoaging, Melasma, Seborrea y Dermatitis. Miembro activo de sociedades nacionales e internacionales de cirugía dermatológica. Editor de seis libros de medicina y autor de más de 150 publicaciones médicas, incluyendo artículos publicados en revistas científicas y capítulos de libros.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/bonifaz.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Alexandro Bonifaz Trujillo<br/>
								<small class="fs-14 uppercase acqva">México</small>
							</h5>
							<p class="card-text">
								Químico Farmaco Biólogo. Fac. de Química. UNAM. Maestría en Ciencias. Fac. de Química. UNAM. Profesor de Pregrado y Posgrado en la UNAM. Más de 50 cursos impartidos sobre diversos aspectos de la Micología general y clínica en congresos y eventos científicos. Numerosas conferencias impartidas: En México y en el extranjero: 62. Dirección de tesis: 51 de grado, 19 de posgrado. Autor de diversos Artículos Nacionales e Internacionales. Autor del libro: Micología Médica Básica. Jefe del Departamento de Micología, Hospital General de México. Investigador de los Sistemas de Salud y del SNI (CONACYT).
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/aoki.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dra. Valeria Aoki<br/>
								<small class="fs-14 uppercase acqva">Brasil</small>
							</h5>
							<p class="card-text">
								Dermatóloga. En la actualidad es Profesor Asociado y Jefe Adjunto del Departamento de Dermatología de la Facultad de Medicina de la Universidad de Sao Paulo, Brasil. Su área de trabajo es en Inmunodermatología con las líneas de investigación: autoinmunidad, enfermedades de la piel ampollosas autoinmunes (pénfigo, fuego salvaje, penfigoide ampollar) y la dermatitis atópica. Co-investigador del "grupo Cooperativo de Investigación Fuego salvaje" (Universidad de Carolina del Norte en Chapel Hill, EE.UU.). Co-responsable de la HCFMUSP Inmunología de la piel.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/gold.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Michael Gold<br/>
								<small class="fs-14 uppercase acqva">USA</small>
							</h5>
							<p class="card-text">El Dr. Gold es un dermatólogo y cirujano estético (Board Certified)<br/>
							Sus áreas de interés son: dermatología médica y quirúrgica, dermatología cosmética, servicios estéticos y esfuerzos de investigación. Realiza investigación dermatológica en el Tennessee Clinical Research Center. El Dr. Gold da conferencias en el ámbito nacional e internacional, enfocándose en temas dermatológicos relacionados con el uso de láseres y dispositivos basados en energía, así como el uso de cargas y toxinas en la dermatología estética y cosmética</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/pandya.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Amit Pandya<br/>
								<small class="fs-14 uppercase acqva">USA</small>
							</h5>
							<p class="card-text">
								Amit Pandya, M.D., es profesor en el Departamento de Dermatología de la UT Southwestern. Tiene la cátedra de Dr. J.B. Shelmire en Dermatología. Su principal área de interés son los desordenes de la pigmentación como el vitíligo y el melasma.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm px-20 justify-content-md-center">
					<div class="card card-shadowed card-hover-shadow">
						<div class="card-block text-center">
							<img src="{{asset('images/papp.jpg')}}" class="img-circle w-180">
							<h5 class="card-title">
								Dr. Kim Papp<br/>
								<small class="fs-14 uppercase acqva">Canadá</small>
							</h5>
							<p class="card-text">
								El Dr. Papp es un dermatólogo certificado por la Junta, de Waterloo, Ontario, Canadá. Su principal área de interés es la psoriasis y la artrititis psoriasica, ha realizado numerosas publicaciones sobre estos temas.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
